@import 'bourbon/bourbon';
@import './mixins';

$phone-portrait: 320px;
$phone-landscape: 640px;
$laptop-small: 1440px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;

$day-size: 4em;

$ui-background: rgba(58, 58, 58, 0.7);
$ui-color: white;
$ui-color-transparent: rgba(255,255,255,0.2);
$ui-accent-color-transparent: rgba(65, 176, 225, 0.8);
$ui-accent-color: rgb(65, 176, 225);
$ok-color: rgb(26, 188, 156);
$warn-color: rgb(243, 156, 18);

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, a, li, span, p, label, input, dl {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $ui-color;
  @include respond-max($phone-landscape) {
    font-weight: 500;
  }
}

a {
  text-decoration: none;

  &.ui {
    border-radius: 50%;
    display: block;
    text-align: center;
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 0.2em;
    cursor: pointer;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      background-color: $ui-color-transparent;
    }
  }
}

li {
  list-style-type: none;
}

body {
  font-size: 18px;
  min-height: 100vh;
  background-image: url('/images/background.jpg');
  @include display(flex);
  @include flex-direction(column);
  @include respond-max($laptop-small) {
    font-size: 16px;
  }
  @include respond-max($tablet-landscape) {
    font-size: 14px;
  }
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  border: none;
  border-bottom: 1px solid $ui-color;
  background-color: lighten($ui-background, 20%);
  color: $ui-color;
  font-size: 1em;
  padding: 1em;
  display: inline-block;
  &:hover {
    background-color: lighten($ui-background, 30%);
  }
  &.ok {
    border-bottom-color: $ok-color;
  }
  &.warn {
    border-bottom-color: $warn-color;
  }
}

#main {
  @include display(flex);
  @include flex(1);
  @include respond-max($tablet-landscape) {
    display: block;
  }
}

.month-container {
  @include display(flex);
  @include flex(1);
  @include flex-grow(2);
  @include respond-min($laptop-small) {
    max-width: 40%;
  }
}

.workspace {
  @include display(flex);
  @include flex-grow(3);
  @include flex-direction(column);
  padding: 1em;
  @include respond-min($laptop-small) {
    max-width: 57.5%;
  }
  @include respond-min($tablet-landscape) {
    max-width: 50%;
  }
}

.calendar {
  @include flex-grow(1);
  position: relative;
  padding: 10%;
  background-color: $ui-background;
  @include respond-max($tablet-landscape) {
    padding-top: 5%;
  }

  h1 {
    font-size: 1.5em;
  }

}

.month-switcher {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  min-width: 20%;
  padding: 1em;
  @include respond-max($phone-landscape) {
    padding: 0.5em;
  }

  a {
    font-size: 2em;
  }
}

.month {
  @include display(flex);
  @include justify-content(flex-start);
  @include flex-direction(column);
}

.days, .day-names {
  @include display(flex);
  padding-left: 0.75%;
  padding-right: 0.75%;
}

.day, .day-name {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 14.00%;
  text-align: center;
  height: 3em;
}

.day {
  @include flex-direction(column);
  position: relative;
  cursor: pointer;
  &.with-events .date::after {
    $size: 0.6em;
    $radius: $size / 2;
    margin: $radius auto;
    content: '';
    display: block;
    background-color: orange;
    color: transparent;
    font-size: $size;
    border-radius: $radius;
    line-height: $size;
    width: $size;
    height: $size;
  }
}

.day-names {
  border-top: 1px solid $ui-color;
  border-bottom: 1px solid $ui-color;
}

.day-name {
  text-transform: uppercase;
}

.date {
  display: block;
  border-radius: 50%;
  padding: 0.8em;
  height: 1em;
  width: 1em;
  line-height: 1em;
  &:hover {
    background-color: $ui-color-transparent;
  }
}

.today {
  .date {
    background-color: lighten($ui-accent-color-transparent, 10%);
  }
}

.selected {
  .date {
    background-color: $ui-accent-color-transparent;
  }
}

.day-details {
  border-top: 1px solid $ui-color;
  margin-top: 1em;
  padding: 1em;

  h3 {
    margin-bottom: 1em;
  }
}

.day-detail {
  font-size: 0.8em;
  height: 2em;

  .description {
    margin-left: 1em;
  }

  .action {
    display: inline-block;
    float: right;
  }
}

.when * {
  color: $ui-accent-color;
}

.ui.add-new-event {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  border: 1px solid $ui-color;
  font-size: 3em;

  @include respond-max($tablet-landscape) {
    font-size: 1.2em;
  }
}

.event-form {
  @include display(flex);
  @include flex-grow(1);
  @include flex-direction(column);
  background-color: $ui-background;
  padding: 2em;
  position: relative;

  .close {
    font-size: 2em;
    position: absolute;
    right: 2%;
    top: 2%;
  }
}

.toolbar {
  text-align: right;

  input {
    margin-left: 0.5em;
    cursor: pointer;
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.event-preview {
  margin-top: 1em;
  margin-bottom: 1em;

  dt {
    color: $ui-accent-color;
    &:after {
      content: ':';
    }
  }

  dt, dd {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
