$day-size: 4em;

* {
  margin: 0;
  padding: 0;
}

h1, .date {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #111;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.logo {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.title {
  color: #ccc;
}

.calendar {
  width: $day-size * 7;
  margin: 0 auto;
}

.month {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.week {
  display: flex;
}

.day {
  width: $day-size;
  height: $day-size;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: #eee;
}
