@import 'bourbon/bourbon';
@import './mixins';

$phone-portrait: 320px;
$phone-landscape: 640px;
$laptop-small: 1440px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;

$day-size: 4em;

$ui-background: rgba(58, 58, 58, 0.7);
$ui-color: white;
$ui-color-transparent: rgba(255,255,255,0.2);
$ui-accent-color-transparent: rgba(65, 176, 225, 0.8);
$ui-accent-color: rgb(65, 176, 225);

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, a, li, span, p, label, input, dl {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $ui-color;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-size: 18px;
  min-height: 100vh;
  background-image: url('/images/background.jpg');
  @include display(flex);
  @include flex-direction(column);
  @include respond-max($laptop-small) {
    font-size: 16px;
  }
  @include respond-max($tablet-landscape) {
    font-size: 14px;
  }
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  border: none;
  border-bottom: 1px solid $ui-color;
  background-color: lighten($ui-background, 20%);
  color: $ui-color;
  font-size: 1em;
  padding: 1em;
  display: inline-block;
}

#main {
  @include display(flex);
  @include flex(1);
  @include respond-max($tablet-landscape) {
    @include flex-direction(column);
  }
}

.month-container {
  @include display(flex);
  @include flex(1);
  @include flex-grow(3);
}

.workspace {
  @include display(flex);
  @include flex-grow(2);
  @include flex-direction(column);
  padding: 1em;
}


.calendar {
  @include flex-grow(1);
  position: relative;
  padding: 10%;
  background-color: $ui-background;

  h1 {
    font-size: 1.5em;
  }
}

.month-switcher {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  min-width: 20%;
  padding: 1em;

  a {
    font-size: 2em;
    font-weight: 100;
  }
}

.month {
  @include display(flex);
  @include justify-content(flex-start);
  @include flex-direction(column);
}

.days, .day-names {
  @include display(flex);
  padding-left: 0.75%;
  padding-right: 0.75%;
}

.day, .day-name {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  width: 14.00%;
  text-align: center;
  height: 3em;
}

.day {
  position: relative;
  cursor: pointer;
}

.day-names {
  border-top: 1px solid $ui-color;
  border-bottom: 1px solid $ui-color;
}

.day-name {
  text-transform: uppercase;
}

.date {
  display: block;
  border-radius: 50%;
  padding: 0.8em;
  height: 1em;
  width: 1em;
  line-height: 1em;
  &:hover {
    background-color: $ui-color-transparent;
  }
}

.today {
  .date {
    background-color: $ui-accent-color-transparent;
  }
}

.events-badge {
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-color: orange;
  color: transparent;
  border-radius: 50%;
  font-size: 0.5em;
  line-height: 0.5em;
  width: 0.5em;
  height: 0.5em;
}

.day-details {
  border-top: 1px solid $ui-color;
  margin-top: 1em;
  padding: 1em;

  h3 {
    margin-bottom: 1em;
  }
}

.day-detail {
  font-size: 0.8em;
  height: 2em;

  .description {
    margin-left: 1em;
  }
}

.when * {
  color: $ui-accent-color;
}

.add-new-event {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid $ui-color;
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
  width: 1em;
  height: 1em;
  display: block;
  text-align: center;
  &:hover {
    background-color: $ui-color-transparent;
  }
}

.event-form {
  @include display(flex);
  @include flex-grow(1);
  @include flex-direction(column);
  background-color: $ui-background;
  padding: 2em;
}

.preview {
  margin-top: 1em;
  margin-bottom: 1em;
}
